<div class="stepper-wrapper">
    <div class="step-header">
        <ng-container #stepHeader></ng-container>
    </div>
    <div class="step-content">
        <ng-container #stepContainer></ng-container>
    </div>
    <div class="action-buttons">
        <button type="button" (click)="prev()" *ngIf="showPrevButton">
            {{ buttonLabels.prev }}
        </button>
        <button type="button" (click)="next()" *ngIf="showNextButton">
            {{ buttonLabels.next }}
        </button>
    </div>
    <ng-template #defaultErrorTemplate>
        Something Went wrong
    </ng-template>
</div>