.stepper-wrapper {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    .step-header {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .step-content {

    }
}