<div class="container">
    <div class="stepper-content">
        <fw-stepper (nextClick)="nextClick($event)" (winzardFinish)="winzardFinish()">
            <fw-step [buttonLabels]="{next: 'Start'}">
                <ng-template stepHeader>Hello There!</ng-template>
                <fw-welcome></fw-welcome>
            </fw-step>
            <fw-step [errorChecker]="errorChecker">
                <ng-template stepHeader>Tell us about yourself</ng-template>
                <fw-user-details-form [userDetails]="userDetails"></fw-user-details-form>
            </fw-step>
            <fw-step [buttonLabels]="{next: 'Buy'}">
                <ng-template stepHeader>Summary</ng-template>
                <fw-summary [userDetails]="userDetails"></fw-summary>
            </fw-step>
            <ng-template #error>
                <fw-error></fw-error>
            </ng-template>
        </fw-stepper>
    </div>
</div>