<div class="container">
    <div class="stepper-content">
        <fw-stepper (nextClick)="nextClick($event)" (wizardFinish)="wizardFinish()" stepper="#fwStepper">
            <fw-step [buttonLabels]="{next: 'Start'}">
                <ng-template fwStepHeader>Hello There!</ng-template>
                <fw-welcome></fw-welcome>
            </fw-step>
            <fw-step [errorChecker]="errorChecker">
                <ng-template fwStepHeader>Tell us about yourself</ng-template>
                <fw-user-details-form [userDetails]="userDetails"></fw-user-details-form>
            </fw-step>
            <fw-step [buttonLabels]="{next: 'Buy'}">
                <ng-template fwStepHeader>Summary</ng-template>
                <fw-summary [userDetails]="userDetails"></fw-summary>
            </fw-step>
            <ng-template fwErrorStepHeader>Ooops</ng-template>
            <ng-template fwStepError>
                <fw-error></fw-error>
            </ng-template>
        </fw-stepper>
    </div>
</div>