<div [formGroup]="userDetailsForm">
    <div class="form-control">
        <label>
            Name
        </label>
        <input type="text" formControlName="name" />
    </div>
    <div class="form-control">
        <label>
            Age
        </label>
        <input type="text" formControlName="age" />
    </div>
    <div class="form-control">
        <label>
            Where do you live
        </label>
        <select formControlName="location">
            <option value="">Please select country</option>
            <option *ngFor="let location of locations" [value]="location.id">
                {{ location.name }}
            </option>
        </select>
    </div>
    <div class="form-control">
        <label *ngFor="let package of packages">
            {{ package.description }}
            <input type="radio" [value]="package.id" formControlName="package" />
        </label>
    </div>
    <div>
        <b>Your premium is: 500HKD</b>
    </div>

    {{ userDetailsForm.value | json }}
</div>