<div [formGroup]="userDetailsForm">
    <label>
        Name
        <input type="text" formControlName="name" />
    </label>
    <label>
        Age
        <input type="text" formControlName="age" />
    </label>
    <label>
        Where do you live
        <select formControlName="location">
            <option>Please select country</option>
            <option *ngFor="let location of locations">
                {{ location.name }}
            </option>
        </select>
    </label>
    <div class="">
        <label *ngFor="let package of packages">
            {{ package.description }}
            <input type="checkbox" [value]="package.id" formControlName="package" />
        </label>
    </div>
    <div>
        <b>Your premium is: 500HKD</b>
    </div>
</div>