/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0 auto;
}

/* Start: form controls CSS */

.form-control {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
}

.primary-btn {
    background-color: #555555;
    color: white;
}

.secondary-btn {
    background-color: white;
    color: black;
}
/* End: form controls CSS */